<% include ../partials/header %>


  <div class="container">

    <div class="row">
      <h1>Edit Show</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <h1><%= options.options.title %></h1>
          <div>
            <form action="/votes/<%= options._id %> %>" method='post'>
              <% options.options.select.map(vote=>{ %>
                <input type='radio' value='<%= vote %>' name='label'>
                <%= vote %>

                  <%  }) %>
                    <button>Submit Data</button>
            </form>
          </div>
        </div>

      </div>
      <form class='form-inline form-group' action="/votes/<%=options._id %>/edit" method="post">

        <button class='btn btn-success'>Add </button>
        <input class='form-control' type="text" name='select' placeholder="Add options" required="Enter Option">
      </form>


      <a href="/votes">Go Back</a>

      <% options.options.data.map(d=>{ %>
        <p>
          <%= JSON.stringify(d) %>
        </p>
        <% }) %>
    </div>
  </div>
  <div id="chart"></div>


      <%- svg%>
